/* Adding a main content div and then giving this div a background color 
  of whatever you want your page to be otherwise you will just end up having text 
  overlapping & you will want to give your main content div a z-index of 1 or 
  something and then fix your footer behind that and give it a z-index smaller 
  than that in my example I gave it a z-index of -1. 
  Then your main content div will scroll over the top of your footer. 
  You will probably want to give your footer a height and your body a padding-bottom of the same height. */

body{
    /* Solution for links,buttons, etc to work in footer was to 
        change padding-bottom to margin-bottom; overlap effect still works */
    margin-bottom:500px;
    background: white;
  }
  .main-content{
    min-height:100vh;
    background: white;
    z-index:1;
  }
  

  /* End of scrolly fotter style */

.carousel {
    margin-top: 300px;
}

/* To reduce the size of picture, restrict the width below */
#carousel-main {
   width: 500px;  
}


/* Positioning rules for soccer balls and Navigation text. Containig block that 
is bieng position aginst is the parent nav block*/


nav1{ 
    position: absolute;
    left: 13px;
    top: -2px;
    font-size: x-large;
}
nav2{
    position: absolute;
 
    left: 103px;
    top: -2px;
    font-size: x-large;
}
nav3{
    position: absolute;
    
    left: 190px;
    top: -2px;
    font-size: x-large;
}
nav4{
    position: absolute;
   
    left: 285px;
    top: -2px;
    font-size: x-large;
}
nav5{
    position: absolute;
    
    right: 100px;
    top: -2px;
    font-size: x-large;
}
nav6{
    position: absolute;
   
    right: 10px;
    top: -2px;
    font-size: x-large;
}

/* SPosition for pulsing sidenav button */

#sideNavBar {
    position: relative;
    right: 205px;
    top: -795px;
}

/* Styles for simple reg form */
#regForm {
  
    color: black;
}

.form-control {
    color: black;
}



#navBar { /* This positions the nav bar to go over the formbox */
    position: relative;
    z-index: 3 ;
}

#formBox{
   position: relative;
    margin-top: 150px;
    z-index: 1;
}

.dropdown-trigger{  /* This is the internal class that materialize uses */
    color: white;
}

.datepicker-calendar-container{
    color: black;
}


.datepicker{
    color: white;
}

#players {
    position: relative;
    top: 150px;
    background: black; 
    color: white
}

#players-table{
    margin-top:170px; 
    background: black;
    color: white

}


/* Formating for the Google Map and map modal */
#map {
    height: 600px;
  }

  #origin-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0px 0px 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 250px;
  }

  #origin-input:focus,
  #destination-input:focus {
    border-color: #4d90fe;
  }

  .btn-floating {
      margin: 10px;
  }
  
  #map-static{
      height: 380px;
      padding-bottom:20px;
  }

/* hack found online to display the google dropdown above modal z*/
  .pac-container {
    z-index: 1051 !important;
}

  #quote {
    position: relative;
    color: white;
    left: 250px
  }

  /* changing modal text color to black z*/

  .modalText{
      color: black;
  }

  /* Calendar styles */
  #event-calendar {
    margin-top: 100px;
  }

#admin  {
    padding-top: 250px;
}

.collection{
    border: none;
}

.collection .collection-item {
    border-bottom: 0px;
}

